body {
  margin: 0;
}

//це попередня версія, яка не потребує коментування

.calendar {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__days {
    display: flex;
    border: 1px solid black;
    gap: 1px;
    width: 706px;
    flex-wrap: wrap;
  }

  &__day {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid black;
  }
}

// @for $sell from 1 through 31
